<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <p> Subject: Account Creation Successful!</p>
        <h1>Dear <%= receiver %>, </h1>
        <p> We are thrilled to inform you that your account has been successfully created in our system. Welcome aboard!
            This email serves as confirmation that your registration process has been completed, and you are now an
            official member of our platform. </p>
        <p>Your account details are as follows:</p>
        <p> Full Name: <%= receiver %>
        </p>
        <p> Username or email: <%= email %>
        </p>
        <p>Password: <%= password %>
        </p>
        <p>Account ID: <% accountId %>
        </p>
        <p> Thank you for choosing our platform. We are excited to have you on board, and we look forward to serving you
            and meeting your expectations. If you have any questions or need further information, please don't hesitate
            to
            contact us.
        </p>
        <p> Once again, welcome! We hope you enjoy your experience with us.
        </p>

        <p> Best regards,</p>

        [Your Name]
        [Your Position/Title]
        [Company/Organization Name]
        [Contact Information]


    </div>
</body>

</html>